
### 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다

#### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [1]:
삼성전자 = 50000

print('10주 보유 시 총 평가금액:', format(삼성전자*10, ',d'))

10주 보유 시 총 평가금액: 500,000

#### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
- 항목	값
- 시가총액	298조
- 현재가	50,000원
- PER	15.79

In [2]:
시가총액 = 298
현재가 = 50000
PER = 15.59

print(시가총액, '조')
print(format(현재가,',d'), '원')
print(PER)

298 조
50,000 원
15.59

#### 013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다. <br/>
<br/>
s = "hello"<br/>
t = "python"<br/>
<br/>
두 변수를 이용하여 아래와 같이 출력해보세요.<br/>
<br/>
실행 예:<br/>
hello! python

In [3]:
s = "hello"
t = "python"

In [4]:
print(s+ '!', t)

hello! python

#### 014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.
- 2 + 2 * 3

In [5]:
2 + 2*3

8

#### 015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

- a = 128
- print (type(a))
- <class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [6]:
a = '132'
print(type(a))

<class 'str'>

#### 016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

In [7]:
num_str = "720"
print(int(num_str))

720

#### 017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [8]:
num = 100
str(num)

'100'

#### 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [9]:
float('15.79')

15.79

#### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [11]:
year = "2020"
inty = int(year)

for i in range(3):
    print(inty)
    inty += 1

2020
2021
2022

#### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. <br/> 
총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [12]:
mon_price = 48584
total_mon = 36

print(format(mon_price * total_mon, ',d') + '원')

1,749,024원

In [13]:
input()

 1

'1'

In [14]:
var_price = int(input('월 할부 금액을 입력하시오: '))
var_month = int(input('할부 개월을 입력하시오: '))

print('\n')
print('에어컨 월 부담액: ', var_price, '원')
print('에어컨 할부기간: ', var_month, '개월')
print('에어컨 총금액: ', var_price * var_month, '원')

월 할부 금액을 입력하시오:  5000
할부 개월을 입력하시오:  10

에어컨 월 부담액:  5000 원
에어컨 할부기간:  10 개월
에어컨 총금액:  50000 원