
### 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

#### 061. price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170] <br/>
 <br/>
출력 예시: <br/>
[100, 130, 140, 150, 160, 170]

In [1]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

#### 062. 슬라이싱을 사용해서 홀수만 출력하라. <br/>
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br/>
 <br/>
실행 예:  <br/>
 [1, 3, 5, 7, 9]

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

#### 063. 슬라이싱을 사용해서 짝수만 출력하라. <br/>

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br/>
 <br/>
실행 예:  <br/>
 [2, 4, 6, 8, 10]

In [3]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

#### 064. 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라. <br/>

nums = [1, 2, 3, 4, 5] <br/>
 <br/>
실행 예:  <br/>
[5, 4, 3, 2, 1]

In [4]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

#### 065. interest 리스트에는 아래의 데이터가 바인딩되어 있다.

- interest = ['삼성전자', 'LG전자', 'Naver']
#### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

- 출력 예시:삼성전자 Naver

In [5]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

#### 066 join 메서드  <br/>
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  <br/>
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  <br/>
  <br/>

#### interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  <br/>
출력 예시:   <br/>
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [6]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest = ' '.join(interest)
print(interest)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

#### 067 join 메서드  <br/>
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  <br/>
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  <br/>
  <br/>
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  <br/>
출력 예시:  <br/>
 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [7]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest = '/'.join(interest)
print(interest)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

#### 068 join 메서드  <br/>
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  <br/>
  <br/>
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  <br/>
  <br/>
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.  <br/>
  <br/>
- 출력 예시:  <br/>
#### 삼성전자  <br/>
#### LG전자  <br/>
#### Naver  <br/>
#### SK하이닉스  <br/>
#### 미래에셋대우

In [8]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest = '\n'.join(interest)
print(interest)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

#### 069 문자열 split 메서드  <br/>
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.  <br/>
  <br/>
string = "삼성전자/LG전자/Naver"  <br/>
  <br/>
이를 interest 이름의 리스트로 분리 저장하라.  <br/>
  <br/>
실행 예시 :  <br/>
 ['삼성전자', 'LG전자', 'Naver']

In [9]:
string = "삼성전자/LG전자/Naver"

string.split('/')

['삼성전자', 'LG전자', 'Naver']

#### 070 리스트 정렬  <br/>
리스트에 있는 값을 오름차순으로 정렬하세요.  <br/>
  <br/>
data = [2, 4, 3, 1, 5, 10, 9]

In [10]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
data

[1, 2, 3, 4, 5, 9, 10]