
### 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

#### 071. my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_variable = ()

#### 072. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. <br/>
#### 영화 제목을 movie_rank 이름의 튜플에 저장하라.  <br/>
(순위 정보는 저장하지 않는다.) <br/>
 <br/>
#### 순위	영화 <br/>
1	닥터 스트레인지 <br/>
2	스플릿 <br/>
3	럭키 <br/>

In [4]:
movie_rank= ('닥터 스트레인지', '스플릿', '럭키')
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

#### 073. 숫자 1 이 저장된 튜플을 생성하라.

In [16]:
one = (1,)

print(one)
type(one)

(1,)

tuple

#### 074. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
 <br/>
t = (1, 2, 3) <br/>
t[0] = 'a'

In [1]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

튜플은 항목을 숫자로 인덱싱 할 수 없다

#### 075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. <br/>
t가 바인딩하는 데이터 타입은 무엇인가? <br/>
 <br/>
t = 1, 2, 3, 4

In [7]:
type(t)

tuple

#### 076. 변수 t에는 아래와 같은 값이 저장되어 있다. <br/>
변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라. <br/>
 <br/>
t = ('a', 'b', 'c')

In [2]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

튜플의 값은 변경되지 않는다. 새로 생성해야 함

In [4]:
t = ('A', 'b', 'c')
t

('A', 'b', 'c')

#### 077. 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [9]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

#### 078. 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [10]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

#### 079. 튜플 언팩킹
다음 코드의 실행 결과를 예상하라. <br/>
 <br/>
temp = ('apple', 'banana', 'cake') <br/>
a, b, c = temp <br/>
print(a, b, c)

In [17]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

#### 080. range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [22]:
ran = tuple(range(1,100,2))
print(ran)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)