
### 파이썬 for 문은 횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용됩니다. 파이썬 while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용됩니다.

#### 131. for문의 실행결과를 예측하라.

> 과일 = ["사과", "귤", "수박"]

> for 변수 in 과일:
    print(변수)

In [2]:
과일 = ["사과", "귤", "수박"]

for i in 과일:
    print(i)

사과
귤
수박

#### 132. for문의 실행결과를 예측하라.

> 과일 = ["사과", "귤", "수박"]

> for 변수 in 과일:
>>  print("#####")

In [3]:
과일 = ["사과", "귤", "수박"]

for 변수 in 과일:

    print("#####")

#####
#####
#####

#### 133.다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

> for 변수 in ["A", "B", "C"]:
>>  print(변수)

In [4]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

#### 134. for문을 풀어서 동일한 동작을하는 코드를 작성하라.

> for 변수 in ["A", "B", "C"]:
>>  print("출력:", 변수)

In [7]:
변수1 = "A"
변수2 = "B"
변수3 = "C"

In [8]:
print("출력:", 변수1)
print("출력:", 변수2)
print("출력:", 변수3)

출력: A
출력: B
출력: C

#### 135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

> for 변수 in ["A", "B", "C"]:
>>  b = 변수.lower()

>>  print("변환:", b)

In [11]:
변수1 = "A"
변수2 = "B"
변수3 = "C"

In [12]:
L1 = 변수1.lower()
L2 = 변수2.lower()
L3 = 변수3.lower()

In [13]:
print("변환:", L1)
print("변환:", L2)
print("변환:", L3)

변환: a
변환: b
변환: c

#### 136. 다음 코드를 for문으로 작성하라.

> 변수 = 10

> print(변수)

> 변수 = 20

> print(변수)

> 변수 = 30

> print(변수)

In [5]:
for a in [10,20,30]:
    
    print(a)

10
20
30

#### 137. 다음 코드를 for문으로 작성하라.

> print(10)

> print(20)

> print(30)

In [4]:
a = 10

for i in range(3):
    print(a)
    a += 10

10
20
30

#### 138. 다음 코드를 for문으로 작성하라.

> print(10)

> print("-------")

> print(20)

> print("-------")

> print(30)

> print("-------")

In [7]:
for i in [10,20,30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

#### 139. 다음 코드를 for문으로 작성하라.

- print("++++")
- print(10)
- print(20)
- print(30)

In [8]:
print("++++")

for i in [10,20,30]:
    print(i)

++++
10
20
30

#### 140. 다음 코드를 for문으로 작성하라.

> print("-------")

> print("-------")

> print("-------")

> print("-------")

In [11]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

#### 141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

> 리스트 = [100, 200, 300]

> 110

> 210

> 310

In [12]:
price = [100, 200, 300]

for i in price:
    print(i+10)

110
210
310

#### 142. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

> 리스트 = ["김밥", "라면", "튀김"]

> 오늘의 메뉴: 김밥

> 오늘의 메뉴: 라면

> 오늘의 메뉴: 튀김

In [13]:
menu = ["김밥", "라면", "튀김"]

for i in menu:
    print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

#### 143. 리스트에 주식 종목이름이 저장돼 있다.

- 리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
- 저장된 문자열의 길이를 다음과 같이 출력하라.

> 6

> 4

> 4

In [14]:
stock = ["SK하이닉스", "삼성전자", "LG전자"]

for i in stock:
    print(len(i))

6
4
4

#### 144. 리스트에는 동물이름이 문자열로 저장돼 있다.

- 리스트 = ['dog', 'cat', 'parrot']
- 동물 이름과 글자수를 다음과 같이 출력하라.

> dog 3

> cat 3

> parrot 6

In [15]:
ani = ['dog', 'cat', 'parrot']

for i in ani:
    print(i, len(i))

dog 3
cat 3
parrot 6

#### 145. 리스트에 동물 이름 저장돼 있다.

- 리스트 = ['dog', 'cat', 'parrot']
- for문을 사용해서 동물 이름의 첫 글자만 출력하라.

> d

> c

> p

In [16]:
ani = ['dog', 'cat', 'parrot']

for i in ani:
    print(i[0])

d
c
p

#### 146
- 리스트에는 세 개의 숫자가 바인딩돼 있다.

- 리스트 = [1, 2, 3]
- for문을 사용해서 다음과 같이 출력하라.

> 3 x 1

> 3 x 2

> 3 x 3

In [18]:
num = [1, 2, 3]

for i in num:
    print('3 x', i)

3 x 1
3 x 2
3 x 3

#### 147
- 리스트에는 세 개의 숫자가 바인딩돼 있다.

- 리스트 = [1, 2, 3]
- for문을 사용해서 다음과 같이 출력하라.

- 3 x 1 = 3
- 3 x 2 = 6
- 3 x 3 = 9

In [20]:
num = [1, 2, 3]

for i in num:
    print('3 x {} = {}'.format(i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

#### 148. 리스트에는 네 개의 문자열이 바인딩돼 있다.

- 리스트 = ["가", "나", "다", "라"]
- for문을 사용해서 다음과 같이 출력하라.

- 나
- 다
- 라

In [22]:
string = ["가", "나", "다", "라"]

for i in range(len(string)-1):
    print(string[1+i])

나
다
라

#### 149. 리스트에는 네 개의 문자열이 바인딩돼 있다.

- 리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

- 가
- 다

In [23]:
string = ["가", "나", "다", "라"]

for i in range(2):
    print(string[i])

가
나

#### 150. 리스트에는 네 개의 문자열이 바인딩돼 있다.

- 리스트 = ["가", "나", "다", "라"]
- for문을 사용해서 다음과 같이 출력하라.

- 라
- 다
- 나
- 가

In [26]:
string = ["가", "나", "다", "라"]

for i in string[::-1]:
    print(i)

라
다
나
가

#### 151. 리스트에는 네 개의 정수가 저장돼 있다.

- 리스트 = [3, -20, -3, 44]
- for문을 사용해서 리스트의 음수를 출력하라.

> 20

> 3

In [29]:
string = [3, -20, -3, 44]

for i in string:
    if i < 0:
        print(i)

-20
-3

#### 152. for문을 사용해서 3의 배수만을 출력하라.

- 리스트 = [3, 100, 23, 44]
> 3

In [30]:
string = [3, 100, 23, 44]

for i in string:
    if i%3 == 0:
        print(i)

3

#### 153. 리스트에서 20 보다 작은 3의 배수를 출력하라

- 리스트 = [13, 21, 12, 14, 30, 18]

> 12

> 18

In [31]:
string = [13, 21, 12, 14, 30, 18]

for i in string:
    if (i%3 == 0) and (i < 20):
        print(i)

12
18

#### 154. 리스트에서 세 글자 이상의 문자를 화면에 출력하라

- 리스트 = ["I", "study", "python", "language", "!"]
- study
- python
- language

In [32]:
string = ["I", "study", "python", "language", "!"]

for i in string:
    if len(i) >= 3:
        print(i)

study
python
language

#### 155. 리스트에서 대문자만 화면에 출력하라.

- 리스트 = ["A", "b", "c", "D"]
- A
- D
- (참고) isupper() 메서드는 대문자 여부를 판별합니다.

> 변수 = "A"

> 변수.isupper()

> True

> 변수 = "a"

> 변수.isupper()

> False

In [33]:
string = ["A", "b", "c", "D"]

for i in string:
    if i.isupper() == 1:
        print(i)

A
D

#### 156. 리스트에서 소문자만 화면에 출력하라.

- 리스트 = ["A", "b", "c", "D"]
- b
- c

In [34]:
string = ["A", "b", "c", "D"]

for i in string:
    if i.islower() == 1:
        print(i)

b
c

#### 157. 이름의 첫 글자를 대문자로 변경해서 출력하라.

- 리스트 = ['dog', 'cat', 'parrot']
- Dog
- Cat
- Parrot
- (참고) upper() 메서드는 문자열을 대문자로 변경합니다.

> 변수 = "a"

> a.upper()

> A

> 변수 = "abc"

> 변수.upper()

> ABC

In [38]:
ani = ['dog', 'cat', 'parrot']

for i in ani:
    first = i[0]
    print(first.upper() + i[1:])

Dog
Cat
Parrot

In [36]:
ani = ['dog', 'cat', 'parrot']

for i in ani:
    print(i.capitalize())

Dog
Cat
Parrot

#### 158. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

- 리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
- hello
- ex01
- intro

In [44]:
file = ['hello.py', 'ex01.py', 'intro.hwp']

for i in file:
    name = i.split('.')
    print(name[0])

hello
ex01
intro

#### 159. 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

- 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
- intra.h
- define.h

In [47]:
file = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in file:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

#### 160. 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

- 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
- intra.h
- intra.c
- define.h

In [48]:
file = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in file:
    if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
        print(i)

intra.h
intra.c
define.h

#### 161. for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [49]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

#### 162. 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

- 2002
- 2006
- 2010
- ...
- 2042
- 2046
- 2050
- 참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

> print(list(range(0, 10, 2)))

> [0, 2, 4, 6, 8]

In [51]:
worldcup = list(range(2002, 2051, 4))

for i in worldcup:
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

#### 163. 1부터 30까지의 숫자 중 3의 배수를 출력하라.

- 3 
- 6 
- 9 
- 12 
- 15 
- 18 
- 21 
- 24 
- 27 
- 30

In [53]:
for i in range(1,31):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

#### 164. 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [55]:
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

#### 165. for문을 사용해서 아래와 같이 출력하라.

- 0.0
- 0.1
- 0.2
- 0.3
- 0.4
- 0.5
- ...
- 0.9

In [58]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

#### 166. 구구단 3단을 출력하라.

- 3x1 = 3
- 3x2 = 6
- 3x3 = 9
- 3x4 = 12
- 3x5 = 15
- 3x6 = 18
- 3x7 = 21
- 3x8 = 24
- 3x9 = 27

In [60]:
for i in range(1, 10):
    print('3x{} = {}'.format(i, i*3))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

#### 167. 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

- 3x1 = 3
- 3x3 = 9
- 3x5 = 15
- 3x7 = 21
- 3x9 = 27

In [61]:
for i in range(1, 10):
    if i%2 == 1:
        print('3x{} = {}'.format(i, i*3))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

#### 168. 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

- 합 : 55

In [66]:
sum = 0

for i in range(1,11):
    sum += i
print('합: {}'.format(sum))

합: 55

#### 169. 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

- 합: 25

In [67]:
sum = 0

for i in range(1,11):
    if i%2 == 1:
        sum += i
print('합: {}'.format(sum))

합: 25

#### 170. 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [69]:
mul = 1

for i in range(1,11):
    mul *= i
print('합: {}'.format(mul))

합: 3628800

#### 171. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

- price_list = [32100, 32150, 32000, 32500]
- 32100
- 32150
- 32000
- 32500

In [70]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

#### 172. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

- price_list = [32100, 32150, 32000, 32500]
- 0 32100
- 1 32150
- 2 32000
- 3 32500

In [71]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

#### 173. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

- price_list = [32100, 32150, 32000, 32500]
- 3 32100
- 2 32150
- 1 32000
- 0 32500

In [72]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

#### 174. 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

- price_list = [32100, 32150, 32000, 32500]
- 100 32150
- 110 32000
- 120 32500

In [74]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
    print(90+(i*10), price_list[i])

100 32150
110 32000
120 32500

#### 175. my_list를 아래와 같이 출력하라.

- my_list = ["가", "나", "다", "라"]
- 가 나
- 나 다
- 다 라

In [78]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

#### 176. 리스트를 아래와 같이 출력하라.

- my_list = ["가", "나", "다", "라", "마"]
- 가 나 다
- 나 다 라
- 다 라 마

In [81]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

#### 177. 복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

- my_list = ["가", "나", "다", "라"]
- 라 다
- 다 나
- 나 가

In [85]:
my_list = ["가", "나", "다", "라"]
my_list = my_list[::-1]

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

라 다
다 나
나 가

#### 178. 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

- my_list = [100, 200, 400, 800]
- 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

- 100
- 200
- 400

In [88]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1): # 0,1,2
    print(my_list[i+1] - my_list[i])

100
200
400

#### 179. 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

- my_list = [100, 200, 400, 800, 1000, 1300]
- 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

- 233.33333333333334
- 466.6666666666667
- 733.3333333333334
- 1033.3333333333333

In [92]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

#### 180. 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

- low_prices  = [100, 200, 400, 800, 1000]
- high_prices = [150, 300, 430, 880, 1000]

In [93]:
low_prices = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
    
print(volatility)

[50, 100, 30, 80, 0]

#### 181. 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

- 101호 |	102호
- 201호 |	202호
- 301호 |	302호

In [94]:
f1 = ['101호', '102호']
f2 = ['201호', '202호']
f3 = ['301호', '302호']

apart = [f1, f2, f3]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

#### 182. 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

- 시가	종가
- 100	80
- 200	210
- 300	330

In [95]:
start = [100, 200, 300]
stop = [80, 210, 330]

stock = [start, stop]
stock

[[100, 200, 300], [80, 210, 330]]

#### 183. 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

- 시가	종가
- 100	80
- 200	210
- 300	330

In [96]:
stock = {'시가':[100, 200, 300], '종가':[80, 210, 330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

#### 184. 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

- 10/10	80	110	70	90
- 10/11	210	230	190	200

In [97]:
stock = {'10/10':[100, 200, 300], '10/11':[80, 210, 330]}
stock

{'10/10': [100, 200, 300], '10/11': [80, 210, 330]}

#### 185. 리스트에 저장된 데이터를 아래와 같이 출력하라.

- apart = [ [101, 102], [201, 202], [301, 302] ]
- 101 호
- 102 호
- 201 호
- 202 호
- 301 호
- 302 호

In [101]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')

101 호
102 호
201 호
202 호
301 호
302 호

#### 186. 리스트에 저장된 데이터를 아래와 같이 출력하라.

- apart = [ [101, 102], [201, 202], [301, 302] ]
- 301 호
- 302 호
- 201 호
- 202 호
- 101 호
- 102 호

In [102]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[2-i][j], '호')

301 호
302 호
201 호
202 호
101 호
102 호

#### 187. 리스트에 저장된 데이터를 아래와 같이 출력하라.

- apart = [ [101, 102], [201, 202], [301, 302] ]
- 302 호
- 301 호
- 202 호
- 201 호
- 102 호
- 101 호

In [103]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[2-i][1-j], '호')

302 호
301 호
202 호
201 호
102 호
101 호

#### 188. 리스트에 저장된 데이터를 아래와 같이 출력하라.

- apart = [ [101, 102], [201, 202], [301, 302] ]
- 101 호
- -----
- 102 호
- -----
- 201 호
- -----
- 202 호
- -----
- 301 호
- -----
- 302 호
- -----

In [104]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, '호')
        print('-'*10)

101 호
----------
102 호
----------
201 호
----------
202 호
----------
301 호
----------
302 호
----------

#### 189. 리스트에 저장된 데이터를 아래와 같이 출력하라.

- apart = [ [101, 102], [201, 202], [301, 302] ]
- 101 호
- 102 호
- -----
- 201 호
- 202 호
- -----
- 301 호
- 302 호
- -----

In [105]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, '호')
    print('-'*10)

101 호
102 호
----------
201 호
202 호
----------
301 호
302 호
----------

#### 190. 리스트에 저장된 데이터를 아래와 같이 출력하라.

- apart = [ [101, 102], [201, 202], [301, 302] ]
- 101 호
- 102 호
- 201 호
- 202 호
- 301 호
- 302 호
- -----

In [106]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, '호')
print('-'*10)

101 호
102 호
201 호
202 호
301 호
302 호
----------

#### 191. data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
#### 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

- 2000.28
- 3050.427
- 2050.2870000000003
- ...

In [110]:
data = [ [ 2000, 3050, 2050, 1980], [ 7500, 2050, 2050, 1980], [15450, 15050, 15550, 14900] ]

for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

#### 192. 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

- 2000.28
- 3050.427
- 2050.2870000000003
- 1980.2772
- ----
- 7501.05
- 2050.2870000000003
- 2050.2870000000003
- 1980.2772
- ----
- 15452.163
- 15052.107
- 15552.177
- 14902.086000000001
- ----

In [112]:
data = [ [ 2000, 3050, 2050, 1980], [ 7500, 2050, 2050, 1980], [15450, 15050, 15550, 14900] ]

for i in data:
    for j in i:
        print(j * 1.00014)
    print('-'*20)

2000.28
3050.427
2050.2870000000003
1980.2772
--------------------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
--------------------
15452.163
15052.107
15552.177
14902.086000000001
--------------------

#### 193. 192 번 문제의 결과값을 result 이름의 리스트에 1차원 배열로 저장하라.

> print(result)

> [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

In [113]:
data = [ [ 2000, 3050, 2050, 1980], [ 7500, 2050, 2050, 1980], [15450, 15050, 15550, 14900] ]
result = []

for i in data:
    for j in i:
        #print(j * 1.00014)
        result.append(j * 1.00014)
        
result

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

#### 194. 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

> print(result)
- [
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]

In [115]:
data = [ [ 2000, 3050, 2050, 1980], [ 7500, 2050, 2050, 1980], [15450, 15050, 15550, 14900] ]
result = []

for i in data:
    row = []
    
    for j in i:
        #print(j * 1.00014)
        row.append(j * 1.00014)
    result.append(row)
result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

#### 195. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

- ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
- 100
- 190
- 310

In [116]:
ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

#### 196. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

- ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
- 190
- 310

In [117]:
ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

#### 197. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

- ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
- 100
- 310

In [119]:
ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

#### 198. ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

> ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

> print(volatility)

>[40, 30, 10]

In [120]:
ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]
volatility = []

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
    
print(volatility)

[40, 30, 10]

#### 199. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

- ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
- 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

- 10

In [121]:
ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]
volatility = []

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

#### 200. 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

- ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
- 1일차 수익 0원 (100 - 100)
- 2일차 수익 -10원 (190 - 200)
- 3일차 수익 10원 (310 - 300) 이다.

- 0

In [124]:
ohlc = [["open", "high", "low", "close"], [100, 110, 70, 100], [200, 210, 180, 190], [300, 310, 300, 310]]
profit = 0
for i in ohlc[1:]:
    profit += i[3]-i[0]

profit

0